vendor/*
data/logs/*
data/import/*
*.cache
*.pptx
*.env
config/accounts/*
config/AscioService*
composer.lock
*/partners/*
data/import/*
partners/*
sandbox/avMonitor
data/tests/*
projects/*
node_modules
public/tests/*
package-lock.json
storage/*
