<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="false" convertWarningsToExceptions="false" processIsolation="false" stopOnFailure="false" testdox="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src/lib</directory>
      <directory suffix=".php">./src/base</directory>
      <directory suffix=".php">./src/logic</directory>
      <directory suffix=".php">./src/db/</directory>
      <directory suffix=".php">./src/api</directory>
    </include>
    <report>
      <clover outputFile="data/tests/coverage.xml"/>
      <html outputDirectory="public/tests" lowUpperBound="35" highLowerBound="70"/>
      <php outputFile="data/tests/coverage.serialized"/>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Db">
      <directory>./tests/db</directory>
    </testsuite>
    <testsuite name="Lib">
      <directory>./tests/lib</directory>
    </testsuite>
    <testsuite name="Logic">
      <directory>./tests/logic</directory>
    </testsuite>
  </testsuites>
  <extensions>
    <extension class="Tests\Bootstrap"/>
  </extensions>
  <php>
    <server name="APP_ENV" value="testing"/>
    <server name="BCRYPT_ROUNDS" value="4"/>
    <server name="CACHE_DRIVER" value="array"/>
    <server name="MAIL_DRIVER" value="array"/>
    <server name="QUEUE_CONNECTION" value="sync"/>
    <server name="SESSION_DRIVER" value="array"/>
    <server name="APP_CONFIG_CACHE" value="bootstrap/cache/config.phpunit.php"/>
    <server name="APP_SERVICES_CACHE" value="bootstrap/cache/services.phpunit.php"/>
    <server name="APP_PACKAGES_CACHE" value="bootstrap/cache/packages.phpunit.php"/>
    <server name="APP_ROUTES_CACHE" value="bootstrap/cache/routes.phpunit.php"/>
    <server name="APP_EVENTS_CACHE" value="bootstrap/cache/events.phpunit.php"/>
  </php>
  <logging>
    <junit outputFile="data/tests/logfile.xml"/>
    <testdoxHtml outputFile="public/tests/testdox.html"/>
    <testdoxText outputFile="data/tests/testdox.txt"/>
  </logging>
</phpunit>
